
body.dyslexic{font-family:'OpenDyslexic',sans-serif !important;}
body.dyslexic .qtext,body.dyslexic .opt,body.dyslexic .exp-body,body.dyslexic .rev-q{font-family:'OpenDyslexic',sans-serif !important;}
